@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --white: hsl(0, 0%, 100%);
  
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
}

html {
    box-sizing: border-box;
    font-size: 15px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    height: 100vh;
    background-color: var(--slate-300);
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

p {
    padding: 0px 10px;
}

.qr-card {
    width: 200px;
    min-width: 200px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5%;
    background-color: var(--white);
}

.heading {
    font-weight: bold;
    color: var(--slate-900);
}

.main-text {
    font-size: 0.7em;
    color: var(--slate-500);
}